body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.img-categoria{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    
}

.video-container {
    width: 100vw; /* ancho completo de la pantalla */
    margin: 0;
    padding: 0;
  }
  
  .video {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
  }
  
  